body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: gray;
    font-weight: bold;
    margin-bottom: 20px; 
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 70px); 
    grid-template-rows: repeat(5, 70px); 
    grid-gap: 10px; 
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-bottom: 100px;
}

#display {
    grid-column: 1 / span 4; 
    background-color: #eee;
    padding: 15px;
    font-size: 24px; 
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-size: 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 100%; 
}

.operator {
    background-color: rgb(58, 55, 49);
    color: white;
}

.equal {
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
}

.clear {
    background-color: rgb(134, 88, 88);
    color: white;
}